.container {
    max-width: 500px;
    margin: auto;
    padding: 30px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
label {
    display: block;
    margin-bottom: 10px;
}
input[type="text"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
button {
    width: 100%;
    background-color: blue;
    color: gray;
    padding: 10px 0;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: blue;
}